# Homework_1 Zhuang Mingkai 1901212687

## Import data and transform them into dataframe

In [1]:
import pandas as pd 
from scipy.io import arff
from sklearn.preprocessing import Imputer 
import numpy as np

data = arff.loadarff('4year.arff')
df = pd.DataFrame(data[0])
df['bankruptcy'] = (df['class'] == '1')
df_new = df[['Attr1','Attr2','Attr7','Attr10','class']] 
imr = Imputer(missing_values='NaN',strategy='mean',axis=0) 
imr = imr.fit(df_new.values)
imputed_data = imr.transform(df_new.values) 
df_new = pd.DataFrame(imputed_data,columns=['x1','x2','x7','x10','class'])
df_new.head()

         x1       x2        x7      x10  class
0  0.159290  0.46240  0.189480  0.38330    0.0
1 -0.127430  0.46243 -0.127430  0.53757    0.0
2  0.070488  0.23570  0.086895  0.67689    0.0
3  0.136760  0.40538  0.136760  0.58938    0.0
4 -0.110080  0.69793 -0.110080  0.30207    0.0

## Calculate mean and std

### Mean among all companies

In [2]:
mean_all = df_new.mean()
mean_all

x1       0.043019
x2       0.596404
x7       0.059446
x10      0.389040
class    0.052594
dtype: float64

### Std among all companies

In [4]:
std_all = df_new.std()
std_all

x1       0.359303
x2       4.586887
x7       0.533317
x10      4.590064
class    0.223233
dtype: float64

### Mean among bankrupt companies

In [5]:
bankrupt_company = df_new[df_new['class'] == 1.0]
bankrupt_mean = bankrupt_company.mean()
bankrupt_mean

x1      -0.068873
x2       0.878355
x7      -0.061538
x10      0.103367
class    1.000000
dtype: float64

### Std among bankrupt companies

In [6]:
bankrupt_std = bankrupt_company.std()
bankrupt_std

x1       0.568076
x2       1.945596
x7       0.568432
x10      1.946747
class    0.000000
dtype: float64

### Mean among still-operating companies

In [7]:
operating_company = df_new[df_new['class'] == 0.0]
operating_mean = operating_company.mean()
operating_mean

x1       0.049231
x2       0.580752
x7       0.066162
x10      0.404899
class    0.000000
dtype: float64

### Std among still-operating companies

In [8]:
operating_std = operating_company.std()
operating_std

x1       0.343002
x2       4.689694
x7       0.530524
x10      4.692934
class    0.000000
dtype: float64

## How many companies have X1 values 1 std below the mean AND X10 values 1 std below the mean?

In [11]:
df_1 = df_new[(df_new['x1']> mean_all['x1']+std_all['x1'])&(df_new['x10']< mean_all['x10']-std_all['x10'])]
len(df_1.index)

2

## What is the ratio of the bankrupted companies among the sub-groups above?

In [12]:
df_1_bankrupt = df_1[df_1['class'] == 1.0]
Ratio_bankrupt = len(df_1_bankrupt.index)/len(df_1.index)
round(Ratio_bankrupt,2)

0.0